<div id="filtro" class="box">
  <div class="field is-grouped is-grouped-multiline is-grouped-centered">
    <div class="control has-icons-left">
      <label class="label">Visualização</label>
      <div class="select is-rounded" [ngClass]="isLoadingPage === true ? 'is-loading' : '' ">
        <select [(ngModel)]="filtro.visualizacao" (change)="onChangeVisualizacao()" [disabled]="isDisabledFiltros">
          <option *ngFor="let visualizacao of filtroCampos.visualizacoes">{{ visualizacao }}</option>
        </select>
        <span class="icon"><i class="fas fa-eye"></i></span>
      </div>
    </div>

    <div class="control has-icons-left max-width-100">
      <label class="label">Bairro</label>
      <div class="select is-rounded" [ngClass]="isLoadingPage === true ? 'is-loading' : '' ">
        <select [(ngModel)]="filtro.bairro" (change)="onChangeVisualizacao()" [disabled]="isDisabledFiltros">
          <option *ngFor="let bairro of filtroCampos.bairros" [ngValue]="bairro">{{ bairro.nome }}</option>
        </select>
        <span class="icon"><i class="fas fa-draw-polygon"></i></span>
      </div>
    </div>

    <div *ngIf="filtro.visualizacao === 'Semanal'" class="control has-icons-left max-width-100">
      <label class="label">Intervalo</label>
      <div class="select is-rounded" [ngClass]="isLoadingPage || isLoadingIntervalo === true ? 'is-loading' : '' ">
        <select [(ngModel)]="filtro.intervalo" [disabled]="isDisabledFiltros || isLoadingIntervalo || isDisabledIntervalo">
          <option *ngFor="let intervalo of filtroCampos.intervalos" [ngValue]="intervalo">{{ montarTextoIntervalo(intervalo) }}</option>
        </select>
        <span class="icon"><i class="fas fa-calendar-alt"></i></span>
      </div>
    </div>

    <div *ngIf="filtro.visualizacao !== 'Semanal'" class="control date-imput-width">
      <label class="label">Data</label>
      <div class="control has-icons-left" [ngClass]="isLoadingPage || isLoadingIntervalo === true ? 'is-loading' : '' ">
        <input class="input is-rounded" type="text" [(ngModel)]="filtro.data"
               #dp="angular-mydatepicker" (click)="dp.toggleCalendar()"
               angular-mydatepicker [options]="dataOptions" [disabled]="isDisabledFiltros || isLoadingIntervalo"/>
        <span class="icon is-small is-left"><i class="fas fa-calendar-alt"></i></span>
      </div>
    </div>
  </div>

  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <button (click)="filtrar()" class="button is-hovered is-link is-rounded"
              [ngClass]="isLoadingButtons === true ? 'is-loading' : '' " [disabled]="isDisabledButtons || isDisabledIntervalo">
        <span class="icon"><i class="fas fa-filter"></i></span>
        <span>Filtrar</span>
      </button>
    </div>

    <div class="control">
      <button (click)="limpar()" class="button is-hovered is-warning is-rounded"
              [ngClass]="isLoadingButtons === true ? 'is-loading' : 'botao-limpar-cor' " [disabled]="isDisabledButtons">
        <span class="icon"><i class="fas fa-eraser"></i></span>
        <span>Limpar</span>
      </button>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-one-fifth">
    <div class="box legenda-box">
      <div class="container legenda-titulo">
        <p class="title has-text-centered">Legenda</p>
      </div>

      <div (click)="onClickIconeEstacao(4)" class="container legenda-item">
        <span class="icon">
          <i class="fas fa-temperature-high fa-2x" style="color: red"></i>
        </span>
        <span class="heading legenda-text">Marcador de temperatura</span>
      </div>

      <div (click)="onClickIconeEstacao(4)" class="container legenda-item">
        <span class="icon">
          <i class="fas fa-draw-polygon fa-2x poligono-legenda-cor"></i>
        </span>
        <span class="heading legenda-text" >Delimitação geográfica do bairro</span>
      </div>

      <div (click)="onClickIconeEstacao(2)" class="container legenda-item">
        <span class="icon">
          <i class="fas fa-broadcast-tower fa-2x"></i>
        </span>
        <span class="heading legenda-text" >Estação Automática Ondina</span>
      </div>

      <div (click)="onClickIconeEstacao(1)" class="container legenda-item">
        <span class="icon">
          <i class="fas fa-broadcast-tower fa-2x mapa-icone-estacao-radio-marinha-cor"></i>
        </span>
        <span class="heading legenda-text" >Estação Automática Rádio Marinha</span>
      </div>

      <div (click)="onClickIconeEstacao(3)" class="container legenda-item">
        <span class="icon">
          <i class="fas fa-broadcast-tower fa-2x mapa-icone-estacao-convencional-cor"></i>
        </span>
        <span class="heading legenda-text" >Estação Convencional Ondina</span>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="box">
      <div id="map" class="tamanho-do-mapa"></div>
    </div>
  </div>
</div>
