.legenda-titulo {
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.legenda-item {
  display: flex;
  justify-content: left;
  margin-bottom: 20px
}

.legenda-text {
  margin-left: 10px;
}

.legenda-box {
  height: 100%;
}

.max-width-100 {
  max-width: 100%;
}

.date-imput-width {
  width: 150px;
  margin-right: .75rem;
}

.botao-limpar-cor {
  color: white !important;
}

.poligono-legenda-cor {
  color: #3388ff;
}
