<section class="hero is-info is-medium banner-img" [style.background-image]="getBackGround()">
  <div class="hero-body">
    <div class="container">
      <p class="title">Faz Calor Em Salvador</p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li [className]="abaSelecionada == 1 ? 'is-active' : ''" (click)="selecionarAba(1)">
            <a>
              <span class="icon is-small"><fa-icon [icon]="faMapMarkedAlt"></fa-icon></span>
              <span>Mapa</span>
            </a>
          </li>
          <li [className]="abaSelecionada == 2 ? 'is-active' : ''" (click)="selecionarAba(2)">
            <a>
              <span class="icon is-small"><fa-icon [icon]="faChartPie"></fa-icon></span>
              <span>Estatísticas</span>
            </a>
          </li>
          <li [className]="abaSelecionada == 3 ? 'is-active' : ''" (click)="selecionarAba(3)">
            <a>
              <span class="icon is-small"><fa-icon [icon]="faInfoCircle"></fa-icon></span>
              <span>Sobre</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section>
  <div class="box">
    <router-outlet></router-outlet>
  </div>
</section>
