.banner-img {
  margin-left: -1px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: white;
}

.background-color-white-smoke {
  background-color: #F5F5F5 !important;
}
