@import "~bulma/bulma";
@import "~leaflet/dist/leaflet.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

html, body {
  height: 100%;
  overflow-y: auto;
  background-color: #F5F5F5;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
}

.mapa-tooltip {
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: none !important;
  color: #3388ff;
}

.mapa-icone {
  margin-left: -14.5px !important;
}

.mapa-icone-estacao-radio-marinha-cor {
  color: #04b8e2;
}

.mapa-icone-estacao-convencional-cor {
  color: #0a984c;
}

.mapa-icone-marker {
  margin-left: -10.5px !important;
  color: red;
}

.tamanho-do-mapa {
  height: 600px;

  @include mobile {
    height: 400px;
  }
}
